<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="home">Nymyty</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a routerLink="home" class="nav-link">Home</a>
        </li>
        <li *ngIf="isAuthenticated" class="nav-item">
          <a class="nav-link" routerLink="customers">Customers</a>
        </li>
        <li *ngIf="isAuthenticated" class="nav-item">
          <p class="welcome">Welcome, {{username}}</p>
        </li>
        <li *ngIf="!isAuthenticated else welcome;" class="nav-item">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<ng-template #welcome>
  <li class="nav-item">
    <a class="nav-link" href="/" (click)="logOut()">Logout</a>
  </li>
</ng-template>
<!-- Page Content -->
<div id="wrap">
  <div class="container mainContainer">
 
 
    <router-outlet></router-outlet>
 
  </div>
</div>
<!-- /.container -->


<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
  </div>
</footer>
 
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>